#header {
  border: solid yellow 2px;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  position: sticky;
  top: 0;
}

#footer {
  border: solid yellow 2px;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
