/* #root {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  border: solid green 2px;
} */

#header {
  border: solid yellow 2px;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  position: sticky;
  top: 0;
}

#footer {
  border: solid yellow 2px;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  /* margin-top: 70%; */
  /* position: fixed; */
  /* bottom: 0; */
  /* max-width: 1280px; */
  /* width: 100%; */
}
